" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab

set nohlsearch
set incsearch

set scrolloff=999
set isfname+=@-@

set updatetime=50

let mapleader=" "

map <leader>d <Action>(Debug)

map <leader>b <Action>(ToggleLineBreakpoint)

nmap <C-e> :action ShowHarpoon<cr>
nmap <leader>e :action AddToHarpoon<cr>

nmap <leader>h :action SetHarpoon1<cr>
nmap <leader>j :action SetHarpoon2<cr>
nmap <leader>k :action SetHarpoon3<cr>
nmap <leader>l :action SetHarpoon4<cr>

nmap <C-h> :action GotoHarpoon1<cr>
nmap <C-j> :action GotoHarpoon2<cr>
nmap <C-k> :action GotoHarpoon3<cr>
nmap <C-l> :action GotoHarpoon4<cr>

nnoremap <leader>jk :q<CR>

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

nnoremap J mzJ`z

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

nnoremap n nzzzv
nnoremap N Nzzzv

nnoremap <leader>Y "+Y
vnoremap <leader>Y "+Y
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>p "+p
vnoremap <leader>p "+p

"deletes into void register
nnoremap <leader>d "_d
vnoremap <leader>d "_d

"deletes into void register and pastes
xnoremap <leader>P "_dP

"formats whole file
nnoremap <leader>f :normal gg=G<CR>
